/* app css stylesheet */

#topnavbar {
    margin: 0;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
}

#topnavbar h3 {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#view {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

/*.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}*/
/*.navbar {min-height:40px !important}*/
ul.nav {
    margin: 0em 0;
}

ul.nav > li > a {
    padding: 5px 5px;
}

#monitor_filter {
    margin: 0.1em 0 0.1em 1em;
}

.monitor-bar {
    display: inline-block;
    padding: 0.1em 0 0.1em 0.1em;
    width: 10.5em;
    height: 1.3em;
    margin-left: auto;
    margin-right: 0;
    background-color: #000000;
    border: 0.1em solid #666666;
    border-radius: 5px;
    overflow: hidden;
}

.monitor-cell {
    float: left;
    margin-right: 0.1;
    width: 1em;
    height: 1em;
    border: 0.1em solid black;
    background-color: #A61A00;
    opacity: 0.5;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
}

.monitor-cell.detected {
    opacity: 1;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.mini-submenu {
    background-color: rgba(0, 0, 0, 0);
    /*border: 1px solid rgba(0, 0, 0, 0.9);*/
    border-radius: 4px;
    padding: 0;
    float: left;
    /*position: relative;*/
    /*width: 42px;*/

}

.mini-submenu:hover {
    cursor: pointer;
}

.mini-submenu .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    margin-top: 3px;
}

.mini-submenu .icon-bar {
    background-color: #000;
}

/*
.sidebar {
    position: fixed;
    display: block;
    top: 70px;
    bottom: 0;
    z-index: 2000;
    min-height: 100%;
    max-height: none;
    overflow: auto;
}

.sidebar-left {
    left: 0;
    float: left;
}

.sidebar-right {
    right: 0;
}

.sidebar-animate {
    -webkit-transition: -webkit-transform 300ms ease;
    -moz-transition: -moz-transform 300ms ease;
    transition: transform 300ms ease;
}
*/

/* Left panel positioning classes */
/*
.sidebar.sidebar-left {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.sidebar.sidebar-left.sidebar-open {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transform: none;
}
*/

.icon {
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 1em;
    line-height: 1em;
    width: 1em;
    display: inline-block;
}

.icon-sensor {
    background-image: url("../images/sensor.png");
}

.icon-group {
    background-image: url("../images/group.png");
}

.icon-user {
    background-image: url("../images/user.png");
}

.vcentered,
.centered {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)

}

.hcentered,
.centered {
    margin-left: 0;
    margin-right: -50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}


.vrcentered,
.rcentered {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%)

}

.hrcentered,
.rcentered {
    margin-left: 0;
    margin-right: -50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}


.arm-button-container {
}

.arm-button-content {
    margin: 0;
}

.arm-button-small-container {
    display: inline-block;
    max-width: 30%;
    /*width: 3em;*/
    /*height: 3em;*/
}

/*.arm-button-small-container img {*/
    /*width: 100%;*/
    /*height: auto;*/
/*}*/

.arm-button-small-container img {
    max-width: 100%;
    min-height: 2em;
    /*height: auto;*/
}


.arm-button-big-container {
    /*display: inline-block;*/
    /*width: 100%;*/
    height: 100%;
}

.arm-button-big-container img {
    width: 90%;
    height: auto;
    max-width: 95%;
    max-height: 95%;
    /*width: auto;*/
    /*height: auto;*/
    /*height: auto;*/
}

.arm-button.active {
    background-color: #9FA0A6;
}

.bottom-nav-bar-button {
    font-size: 1em;
    margin: 0;
}

#bottomnavbar > ul {
    border-bottom: 0;
}

#bottomnavbar > ul > li > a {
    border-radius: 0;

}

#bottomnavbar > ul > li.active > a {
    background-color: #C2BFBF;
}

.bottom-nav-bar-button p {
    margin: 0;
}

.bottom-nav-bar-button.active {
    font-weight: bold;
}

@media (max-width: 768px) {
    .bottom-nav-bar-button {
        font-size: 1em;
        margin: 0;
    }

.bottom-nav-bar-button p {
        margin: 0;
    }
}

@media (min-width: 769px) {
    body{
        font-size: 1.5em;
    }

    input[type="checkbox"] {
        margin: 0.5em 0 0 0;
    }
}

form .alert {
    font-size: 0.7em;
    padding: 0px;
    padding-left: 5px;
    margin-bottom: 5px;
}

.alert-warning {
    background-image: linear-gradient(to bottom,#F2E392 0,#EDDC83 100%);
    border-color: #D8C459;
}

#bottomnavbar .alert {
    /*font-size: 0.7em;*/
    /*padding: 0px;*/
    /*padding-left: 5px;*/
    width: 80%;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#bottomnavbar .progress {
    margin-bottom: 0.5em;
}


.full-screen {
    width: 100%;
    height: 100%;
}

.full-screen .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
}

.full-screen .modal-content {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.full-screen .modal-footer {
    bottom: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
}

#sidebar-menu-button {
    float: left;
    position: relative;
    top:0.2em;
}

.sidebar-backdrop {
    z-index: 1100;
    background: black;
    position: absolute;
    opacity: 0.8;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.sidebar-wrapper-opened {
    z-index: 1101;
}

.sidebar-content {
    z-index: 1100;
    background: white;
    opacity: 0;
    position: fixed;
    left: -20em;
    width: 20em;
    max-width: 90%;

    height: 95%;
    margin: 0;
    position: absolute;
    top: 5%;
    overflow-y: auto;
    /*background: #000;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-wrapper-opened .sidebar-content {
    left: 0 !important;
    opacity: 1;
    /*width: 85% !important;*/
}

.list-group-item-indented {
    padding-left: 2em;
}

.accounts-dialog-body {
    padding: 0;
}

.accounts-dialog-body .list-group {
    margin: 0;
}

a.disabled {
    color: lightgrey;
}


.xs-full-screen {
    width: auto;
    height: auto;
}

.xs-full-screen .modal-dialog {
    width: auto;
    height: auto;
    margin: 0;
}

.xs-full-screen .modal-content {
    width: auto;
    height: auto;
    border-radius: 0;
}

.xs-full-screen .modal-footer {
    bottom: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
}

@media (max-width: 768px) {
    .xs-full-screen {
        width: 100%;
        height: 100%;
    }

    .xs-full-screen .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .xs-full-screen .modal-content {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .xs-full-screen .modal-footer {
        bottom: 0;
        margin-bottom: 0;
        position: fixed;
        right: 0;
        left: 0;
    }
}

.arm-button .badge {
    padding-top: 0;
    top: -15px;
    right: -10px;
    border-radius: 20px;
    float: right;
    font-size: 1.5em;
    background-color: red;
}

.pinCodeButtonWrapper {
    display: inline-block;
    box-sizing: content-box;

}

.pinCodeButton {
    /*appearance:button;*/
    font-family:sans-serif;
    text-align:center;
    /*float:left;*/
    display: inline-block;
    margin: 0;
    padding: 0;
    /*box-sizing: content-box;*/
    overflow: visible;

    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.pinCodeRow:before, .pinCodeRow:after {
    display: table;
    content: " ";
}

.pinCodeRow:after {
    clear: both;
}

.pinCodeRow {
    box-sizing: border-box;
    text-align: center;
    /*height: 50px;*/
}

@media (min-width: 768px) {
    .pinCodeDialog > .modal-sm {
        width: 450px;

    }

    .pinCodeRow {
        /*height: 60px;*/
    }

    .pinCodeButtonWrapper {
        width:85px;
        height:85px;
        /*padding:23px 15px 23px 15px;*/
        padding:1px 1px 1px 1px;
        margin: 10px;
    }

    .pinCodeButton {
        width:95%;
        height: 95%;
        font-size:26px;
    }
}

.sensorHistoryDialog > .modal-header {
    top: 0;
    position: fixed;
}

.sensor-history-dialog-body {
    overflow-y: scroll;
}